{
  "openapi": "3.1.0",
  "info": {
    "title": "Coinscrap Finance API",
    "description": "API for transactional predictions and COCO services",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.coinscrap.com",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "OAuth2 authentication endpoints"
    },
    {
      "name": "Predictions",
      "description": "Transactional prediction endpoints"
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "summary": "Authentication & authorization",
        "deprecated": false,
        "description": "This is the endpoint to create an Oauth2 Access Token to consume the APIs. It is necesary to call this endpoint before invoking the rest of the API.",
        "tags": [
          "Authentication"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "description": "oAuth Grant Type. Use `client_credentials`."
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  },
                  "audience": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL audience for oAuth."
                  }
                },
                "required": [
                  "grant_type",
                  "client_id",
                  "client_secret",
                  "audience"
                ]
              },
              "example": {
                "client_id": "your_client_id",
                "client_secret": "your_client_secret",
                "audience": "https://api.coinscrap.com",
                "grant_type": "client_credentials"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "number"
                    },
                    "token_type": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "access_token",
                    "expires_in",
                    "token_type"
                  ]
                },
                "example": {
                  "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                  "expires_in": 3600,
                  "token_type": "Bearer"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/coco/transactional-predictions": {
      "post": {
        "summary": "Transactional prediction",
        "deprecated": false,
        "description": "This request allows the inference of the COCO transactional predictions. It returns the original transaction enriched with COCO predictions.",
        "tags": [
          "Predictions"
        ],
        "parameters": [
          {
            "name": "cocos",
            "in": "query",
            "description": "Requested COCO predictions, comma separated.",
            "required": false,
            "example": "categorization,merchant",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "accountingDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "valueDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "balance": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "categoryId": {
                    "type": "string"
                  },
                  "documentUrl": {
                    "type": "string"
                  },
                  "merchant": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      },
                      "mcc": {
                        "type": "string"
                      }
                    }
                  },
                  "additionalData": {
                    "type": "object",
                    "properties": {}
                  }
                },
                "required": [
                  "identifier",
                  "title",
                  "accountingDate",
                  "valueDate",
                  "amount",
                  "balance",
                  "currency"
                ]
              },
              "example": {
                "title": "7 eleven anaxagoras",
                "accountingDate": "2024-09-09T08:10:20.000Z",
                "valueDate": "2024-09-09T00:00:00.000Z",
                "amount": -36.54,
                "balance": 2142.98,
                "currency": "PEN",
                "documentUrl": "https://ucageneral.com/forms/Sample-Premium-Invoice.pdf"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful prediction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionalPredictionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/coco/transactional-predictions/bulk": {
      "post": {
        "summary": "Bulk transactional prediction",
        "deprecated": false,
        "description": "This request creates multiple transactional predictions in a single call.",
        "tags": [
          "Predictions"
        ],
        "parameters": [
          {
            "name": "cocos",
            "in": "query",
            "description": "Requested COCO predictions, comma separated.",
            "required": false,
            "example": "categorization,merchant",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TransactionalPredictionRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful bulk prediction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkTransactionalPredictionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "TransactionalPredictionRequest": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "accountingDate": {
            "type": "string",
            "format": "date-time"
          },
          "valueDate": {
            "type": "string",
            "format": "date-time"
          },
          "amount": {
            "type": "number"
          },
          "balance": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "documentUrl": {
            "type": "string"
          }
        },
        "required": [
          "title",
          "accountingDate",
          "valueDate",
          "amount",
          "balance",
          "currency"
        ]
      },
      "TransactionalPredictionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "createDate": {
            "type": "string",
            "format": "date-time"
          },
          "resolveDate": {
            "type": "string",
            "format": "date-time"
          },
          "title": {
            "type": "string"
          },
          "accountingDate": {
            "type": "string",
            "format": "date-time"
          },
          "valueDate": {
            "type": "string",
            "format": "date-time"
          },
          "amount": {
            "type": "number"
          },
          "balance": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "documentUrl": {
            "type": "string"
          },
          "predictions": {
            "$ref": "#/components/schemas/PredictionsResponse"
          }
        },
        "required": [
          "predictions",
          "id",
          "createDate",
          "resolveDate",
          "title",
          "accountingDate",
          "valueDate",
          "amount",
          "balance",
          "currency",
          "documentUrl"
        ]
      },
      "BulkTransactionalPredictionResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/TransactionalPredictionResponse"
        }
      },
      "PredictionsResponse": {
        "type": "object",
        "properties": {
          "categorization": {
            "$ref": "#/components/schemas/CategorizationPrediction"
          },
          "attributes": {
            "$ref": "#/components/schemas/AttributesPrediction"
          },
          "merchant": {
            "$ref": "#/components/schemas/MerchantPrediction"
          }
        },
        "required": [
          "categorization",
          "attributes",
          "merchant"
        ]
      },
      "CategorizationPrediction": {
        "type": "object",
        "properties": {
          "categoryCode": {
            "type": "integer"
          },
          "category": {
            "type": "string"
          },
          "subcategory": {
            "type": "string"
          }
        },
        "required": [
          "categoryCode",
          "category",
          "subcategory"
        ]
      },
      "AttributesPrediction": {
        "type": "object",
        "properties": {
          "transactionType": {
            "type": "string"
          },
          "online": {
            "type": "string"
          },
          "refund": {
            "type": "string"
          },
          "paymentMethod": {
            "type": "string"
          },
          "subscription": {
            "type": "string"
          }
        },
        "required": [
          "transactionType",
          "online",
          "refund",
          "paymentMethod",
          "subscription"
        ]
      },
      "MerchantPrediction": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "nullable": true
          },
          "merchantName": {
            "type": "string",
            "nullable": true
          },
          "legalName": {
            "type": "string",
            "nullable": true
          },
          "logo": {
            "type": "string"
          },
          "favicon": {
            "type": "string"
          },
          "hasLogo": {
            "type": "boolean"
          },
          "website": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "cnae": {
            "type": "string",
            "nullable": true
          },
          "merchantType": {
            "type": "string",
            "nullable": true
          },
          "specialization": {
            "type": "string",
            "nullable": true
          },
          "specialtyId": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "establishment": {
            "$ref": "#/components/schemas/Establishment"
          }
        },
        "required": [
          "hasLogo",
          "logo",
          "favicon",
          "address",
          "establishment"
        ]
      },
      "Address": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "nullable": true
          },
          "postalCode": {
            "type": "string",
            "nullable": true
          },
          "locality": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Establishment": {
        "type": "object",
        "properties": {
          "locality": {
            "type": "string",
            "nullable": true
          },
          "coordinates": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "postalCode": {
            "type": "string",
            "nullable": true
          },
          "administrativeAreaL1": {
            "type": "string",
            "nullable": true
          },
          "administrativeAreaL2": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          }
        }
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearer": []
    }
  ]
}